h1 {
    color: black;
    text-align: center;
}

#personalInfo{
    text-align: center;
}

#personalInfoList {
    display: block;
    text-align: center;
    list-style-type: circle;
}

.education {
    text-indent: 40px;
}

#personalInfoList li {
    display: inline-block;
    list-style-type: circle;
    padding-right: 20px;
    text-align: center;
}

ul {
    display: inline-block;
    list-style-position: inside;
}

ul li{
    text-align: left;
}
