h1 {
    color: black;
    text-align: center;
}

#personalInfo{
    text-align: center;
}

#personalInfoList {
    display: block;
    text-align: center;
    list-style-type: circle;
}

#personalInfoList li {
    display: inline-block;
    list-style-type: circle;
    padding-right: 20px;
    text-align: center;
}

ul {
    display: inline-block;
    list-style-position: inside;
}

ul li{
    text-align: left;
    /*padding-left: 48px;*/
}

/*#personalInfoList li:first-child {
    list-style-type: none;
}
#personalInfoList li:nth-child(2) {
    list-style-type: none;
}*/